Hi, here's an <em>example</em> file.
It has <b>lots</b> of <u>weird</u>ly placed formatting.
If you want <b>me to <s>demolish</s><i>typeset</i></b>
<u>your</u> next book, contact <a href="mailto:me@alantrick.ca">me at
alantrick.ca</a> <img src='hello.png' alt='hello'>.
<s>Here's a big strikeout</s>